@font-face {
    font-family: skyrimFont;
    src: url(https://github.com/jqmfg1/Dwarven-Bow-Clicker/raw/master/fonts/Skyrim_Font.ttf);
}

html {
    font-family: skyrimFont;
}

body {
    background-image: url("https://raw.githubusercontent.com/jqmfg1/Dwarven-Bow-Clicker/master/imgs/Real_Dwarven_bow.jpg")
}

button {
    display: inline-block;
    text-align: center;
    text-decoration: none;

    margin: 2px 0;
    border: solid 1px #2f2f2f;
    border-radius:4px;
    padding: 0.5em 1em;

    font-size: 1.1em;
    color: #2f2f2f;
    background-color: #7da8ed;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}
